{
  "parser": "@babel/eslint-parser",
  "extends": ["bunchtogether"],
  "plugins": ["jest"],
  "env": {
    "jest": true
  },
  "rules": {
    "import/extensions": ["error", { ignore": ["p-queue", "observed-remove-level/map", "observed-remove-level/signed-map"] }],
    "import/no-unresolved": ["error", { "commonjs": true, "caseSensitive": true, "ignore": ["p-queue", "observed-remove-level/map", "observed-remove-level/signed-map"] }],
  }
}
